[Unit]
Description=Restart fanctl after waking up
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl --no-block restart fanctl.service

[Install]
WantedBy=suspend.target
